---
layout:  page
tagline: jack of no trades
---


<style>
 .card-body {
 -ms-flex:1 1 auto;
 flex:1 1 auto;
 padding:0.75rem;
 margin-bottom: -20px;
}

.card-footer { padding: .25rem 1.0rem; }
</style>

{% for post in paginator.posts %}
<div class="card bg-light mb-2" style="border-radius: .85em;">
  <div class="card-body">
    <h3 style="margin-top:2px"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <p>{{ post.description }}</p>
  </div>
  <div class="card-footer">
    <small>
      {{ post.date | date: "%Y%m%d" }}
      <span style="float:right">
        {% for tag in post.tags %} <a class="badge badge-primary" href="{{site.baseurl}}/tags.html#{{ tag }}-ref">{{ tag }}</a> {% endfor %}
      </span></small>
  </div>
</div>
{% endfor %}


<br>
<nav aria-label="pages"><ul class="pagination justify-content-center"> 
    {% if paginator.previous_page %}
    <li class="page-item">
    {% if paginator.previous_page == 1 %}
      <a class="page-link" href="{{ site.baseurl }}/">&larr; Newer</a>
    {% else %}
      <a class="page-link" href="{{ site.baseurl }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; Newer</a>
    {% endif %}
  </li>
  {% else %}
    <li class="page-item disabled" ><span class="page-link">&larr; Newer</span></li>
  {% endif %}
  
  <li class="page-item disabled"><span class="page-link">Page: {{ paginator.page }}/{{ paginator.total_pages }}</span></li>

  {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ site.baseurl }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">Older &rarr;</a></li>
  {% else %}
    <li class="page-item disabled"><span class="page-link"> Older &rarr;</span></li>
    {% endif %}
  </ul>
</nav>

