---
layout: page
title:  Tags
header: Posts By Tag
group:  navigation
---

<style>
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  background: #F2756A;
}
.card-body { -ms-flex:1 1 auto; flex:1 1 auto; padding:1.0rem;}
dl,ol,ul { margin-top:0; margin-bottom:0; }
</style>

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<div class="accordion" id="tags">

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
{% capture TAG %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
{% capture ID  %}{{ TAG | replace:' ','-' }}{% endcapture %}
  
  <div class="card bg-light z-depth-0 bordered">
    <div class="card-header" id="{{ ID }}-ref">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
          data-target="#{{ ID }}" aria-expanded="true" aria-controls="{{ ID }}">
          <span class="badge">{{ site.tags[TAG].size }}</span> {{ TAG }} 
        </button>
      </h5>
    </div>
    <div id="{{ ID }}" class="collapse" aria-labelledby="{{ ID }}" >
      <div class="card-body">
          <ul class="list-unstyled">
            {% for post in site.tags[TAG] %}{% if post.title != null %}
            <li style="line-height: 20px;">
              <span class="text-muted"> {{ post.date | date: "%Y%m%d" }} <i class="fa fa-caret-right"></i></span>
              <a href="{{ site.baseurl }}{{post.url}}">{{post.title}}</a>
            </li>
            {% endif %}{% endfor %}
          </ul>
        </div>
    </div>
  </div>

{% endunless %}{% endfor %}
  
</div>
<br>

<div class="clearfix"></div>
